.container-fluid {
  background-color: black;
  height: 100%;
  width: 100%;
  padding-left: 10vw;
  padding-top: 4vh;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  height: 80%;
  width: 70%;
  list-style: none;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background: rgba(255, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #f3f3f3;
}
.display {
  background: url("./images/kampala.jpg") center center/cover no-repeat;
  width: 60%;
  height: 80%;
  margin-top: 8vh;
  margin-left: -15%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.display h2 {
  text-align: center;
  font-size: 4vw;
}
.details {
  width: 50%;
  padding-left: 1.5vw;
  margin-top: 3vh;
}
.details h2 {
  font-size: 2.5vw;
}

.order {
  height: 6vh;
  border: 2px groove rgb(38, 18, 11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .container-fluid {
  }
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    padding: 0;
    border-top-right-radius: 7px;
  }
  .display {
    height: 30%;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .details {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .details h2 {
    font-size: 5vw;
  }
  .details p {
    font-size: 2vh;
  }
  .order {
    width: 30vw;
    border: 2px groove rgb(38, 18, 11);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    font-size: 5vw;
  }
}
@media screen and (max-height: 359px) {
  .details {
    line-height: 5vh;
  }
  .details h2 {
    font-size: 6vh;
  }
  .details p {
    font-size: 4vh;
  }
  .order {
    height: 10vh;
  }
}
