.container-fluid {
  background-color: black;
  width: 100%;
  height: 100%;
  padding-top: 15%;
}
.container {
  background: url("./images/rideroad.jpg") center center/cover no-repeat;
  height: 60vh;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  border: 3px groove #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 3px 6px 10px #61beb5;
}
.container h2 {
  font-family: Montserrat;
  font-size: 3rem;
  color: #f3f3f3;
}
.container p {
  font-size: 1.5rem;
  color: #f3f3f3;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 54%;
  text-align: center;
  border: 1px solid red;
}
.input {
  width: 100%;
  height: 20%;
  border-radius: 15px;
  border: 2px groove rgb(38, 18, 11);
  margin-top: 2%;
  padding-left: 5%;
  outline-style: none;
}
.login {
  width: 70%;
  height: 20%;
  border-radius: 15px;
  border: 2px groove rgb(38, 18, 11);
  background-color: #006258;
  margin-left: 15%;
}
a {
  text-decoration: none;
  color: maroon;
}
a:hover {
  color: greenyellow;
}
.login:hover {
  background-color: greenyellow;
}
.end {
  margin-top: -5%;
}
@media screen and (max-width: 760px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
  }
  form {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 45%;
    text-align: center;
  }
  .input {
    width: 100%;
    height: 20%;
    margin-top: 2%;
  }
  .login {
    margin-top: 5%;
    width: 70%;
    height: 20%;
    border-radius: 15px;
    margin-left: 15%;
  }
  .end {
    margin-top: 0%;
  }
}
