.offers {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.intro {
  padding-left: 5%;
}
.intro h2 {
  color: #f3f3f3;
  font-size: 5vh;
}
.rides {
  height: 60%;
  list-style: none;
  padding: 2.5%;
}
.drivers {
  height: 25%;
  color: white;
}
.drivers p {
  padding-left: 5%;
  font-size: 2vh;
}
@media screen and (max-height: 359px) {
  .drivers {
    line-height: 0.5vw;
    font-size: 1.5vw;
  }
  .drivers p {
    font-size: 1.5vw !important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 376px) {
  .drivers p {
    font-size: 2vw;
  }
  .drivers {
    line-height: 0.8vw;
  }
  .lists {
    font-size: 2vw;
  }
  .list {
    font-size: 1.6vw;
  }
}
