.offers {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.intro {
  padding-left: 5%;
}
.intro h2 {
  color: #f3f3f3;
  font-size: 1rem;
}
.rides {
  height: 60%;
  list-style: none;
  padding: 2.5%;
}
.drivers {
  height: 20%;
  color: white;
  border: 1px solid red;
}
.drivers p {
  padding-left: 5%;
}
