.container-fluid {
  background-color: rgb(22, 22, 63);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.user {
  width: 30%;
  border: 1px solid white;
}
.options {
  width: 70%;
  border: 1px solid orangered;
  padding: 0;
}
.screen {
  background-color: gainsboro;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
.welcome {
  display: flex;
  flex-direction: row;
  height: 35%;
}
.welcome_message {
  padding-left: 5%;
  width: 40%;
  background: linear-gradient(90deg, black, black, rgba(0, 0, 0, 0.5));
  color: #f3f3f3;
}
.welcome p {
  text-align: left;
}
.catchup {
  width: 40%;
  height: 20%;
  border-radius: 15px;
}
.image {
  background: url("./images/drivetrip.jpg") center center/cover no-repeat;
  width: 60%;
  height: auto;
  border-radius: 15px;
}
/*recent trips*/
.recent {
  height: 65%;
  background-color: greenyellow;
  margin-top: -2%;
}
.recent_trips {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  background-color: red;
  list-style: none;
}
.trips {
  width: 50%;
}
.distance {
  width: 50%;
}
.location {
  width: 50%;
  border: 1px solid red;
  text-align: center;
}
/* recent two*/
.recent_two {
  display: flex;
  flex-direction: row;
}
.user_lists {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  border: 1px solid greenyellow;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding: 0;
}
.list {
  border: 1px solid purple;
  height: 25%;
  text-align: center;
  font-size: 0.5rem;
  padding-top: 15%;
}
.avator {
  font-size: 2rem;
}
.lists {
  border: 1px solid white;
  height: 10%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 5%;
}
i.fas.fa-user {
  color: greenyellow;
}
i.far.fa-user-circle {
  margin-top: 1%;
  color: greenyellow;
}
@media screen and (max-width: 760px) {
  .avator {
    font-size: 1.5rem;
  }
  .lists {
    font-size: 1.5rem;
  }
}
